<div class="song" (click)="onClick()">
  <h3>Titulo: {{ song.title }}</h3>
  <p *ngIf="show && title === song.title">Autor: {{ song.author }}</p>
  <p *ngIf="show && title === song.title">Grupo: {{ song.group }}</p>
  <p *ngIf="show && title === song.title">
    Ano de publicacion: {{ song.year }}
  </p>
  <p *ngIf="show && title === song.title">Album: {{ song.album }}</p>
  <p *ngIf="show && title === song.title">BPM: {{ song.bpm }}</p>
  <p *ngIf="show && title === song.title">Duracion: {{ song.length }}</p>
</div>
