.song {
  background: rgb(107, 102, 102);
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.song h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: lightblue;
}

.song:hover {
  cursor: pointer;
}
